In [1]:
import pandas as pd
from sqlalchemy import create_engine, text

In [2]:
url = "mysql+pymysql://root:root@localhost:3306/mlops"
engine = create_engine(url)

In [14]:
sql="""select *
from mlops.credit_score_features
"""

In [15]:
with engine.connect() as conn:
    df = pd.read_sql(sql, con=conn.connection)

/tmp/ipykernel_38673/1271460178.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, con=conn.connection)

In [16]:
df

,id,customer_id,date,name,age,ssn,occupation,annual_income,monthly_inhand_salary,num_bank_accounts,...,num_credit_inquiries,credit_mix,outstanding_debt,credit_utilization_ratio,credit_history_age,payment_of_min_amount,total_emi_per_month,amount_invested_monthly,payment_behaviour,monthly_balance
0,100127,23186,2025-06-12,Gillams,42.0,486471751,Doctor,124534.0,10621.90,1.0,...,1.0,Good,757.38,27.8458,214.0,No,174.3390,235.1290,High_spent_Large_value_payments,892.719
1,100138,6601,2025-05-12,Cableo,31.0,534541028,Entrepreneur,14542.3,1480.86,6.0,...,8.0,Bad,4479.00,39.3129,11.0,Yes,63.1120,61.1033,High_spent_Medium_value_payments,273.871
2,100188,42573,2025-07-30,Nick Edwardsl,42.0,190660409,Doctor,30117.4,2312.78,7.0,...,11.0,Standard,1512.32,29.9881,71.0,Yes,51.1406,130.8600,Low_spent_Small_value_payments,339.278
3,100234,36210,2025-05-30,Hideyukih,32.0,200137091,Entrepreneur,63371.6,5533.96,6.0,...,7.0,Standard,756.94,25.1793,324.0,No,104.8700,404.6060,Low_spent_Medium_value_payments,323.920
4,100236,36210,2025-07-30,Hideyukih,32.0,200137091,Entrepreneur,63371.6,5533.96,6.0,...,7.0,Standard,756.94,33.0600,326.0,No,104.8700,234.3650,High_spent_Small_value_payments,474.161
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,99946,19334,2025-05-03,Nachtigalh,19.0,942965677,Manager,17565.6,1588.80,10.0,...,12.0,Bad,2986.89,27.9395,79.0,NM,100.6370,71.7781,Low_spent_Medium_value_payments,266.464
19996,99978,20482,2025-01-25,Ann Saphird,18.0,913935303,Developer,63402.2,5475.52,5.0,...,5.0,Standard,2153.66,33.8446,227.0,Yes,152.1060,166.3060,High_spent_Small_value_payments,489.140
19997,99982,20482,2025-05-27,Ann Saphird,18.0,913935303,Developer,63402.2,5475.52,5.0,...,5.0,Standard,2153.66,35.0262,231.0,Yes,152.1060,10000.0000,High_spent_Small_value_payments,404.639
19998,99991,13373,2025-02-27,Joseph A.p,42.0,45126597,Architect,16021.1,1583.09,8.0,...,5.0,Standard,2136.31,27.8083,195.0,Yes,30.6314,45.0026,High_spent_Medium_value_payments,332.676
19999,99993,13373,2025-04-27,Joseph A.p,42.0,45126597,Architect,16021.1,1583.09,8.0,...,5.0,Standard,2136.31,31.0242,197.0,Yes,30.6314,121.8680,Low_spent_Small_value_payments,285.810